/* External Google font importing - note that the validator will flag this as a warning as it can't check imported items */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  background-color: #f1f1f1;
}

.error{
  color: red;
  text-align: center;
}

h1 {
  font-family: 'Source Sans Pro 700', sans-serif;
  font-size: 4.5em;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: center;
}

article {
  /* Articles are used for each blog post */
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  white-space: pre-wrap;
}

ul {
  /* Configures the navbar at the top; a list is used to load in each link */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 3px;
}

li {
  float: left;
}

form {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
  max-width: 200px;
}

.blogpost{
  max-width: 600px;
}

.blogpost input[type="button"]{
  max-width: 200px;
}

textarea{
  height: 200px;
  width: 600px;
  overflow-y: auto; 
  resize: none;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

form input{
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

input[type="text"], input[type="password"], textarea{
  /* For consistency with other inputs */
  background-color: white;
  border-style: solid;
  border-color: black;
}

li a, .dropbutton, .dropcontent a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.dropcontent a{
  background-color: #333;
}

li a:hover, .dropmenu:hover .dropbutton, .dropcontent a:hover {
  background-color: #111;

}

li.dropmenu {
  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  left: auto;
  right: 0;
  margin-right: 8px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
}

.dropmenu:hover .dropcontent {
  display: block;
}