ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

li {
    float: left;
}

li a, .dropbutton, .dropcontent form input[type=submit], .dropcontent a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropcontent form input[type=submit], .dropcontent a{
  background-color: #333
}

li a:hover, .dropmenu:hover .dropbutton, .dropcontent form input[type=submit]:hover, .dropcontent a:hover {
  background-color: #111
}

li.dropmenu {
    display: inline-block;
}

.dropcontent {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
}

.dropcontent form {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropcontent form input{
  width: 100%
}

.dropmenu:hover .dropcontent {
    display: block;
}